@model List<ETicketOffice.Domain.DModels.Ticket>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="m-4">
        <a asp-controller="Tickets" asp-action="Create">Add New Ticket</a>
    </div>

    @for (int i = 0; i < Model.Count; i++)
    {
        var item = Model[i];

        if (i % 3 == 0)
        {
            @: <div class="row">
            }

            <div class="col-md-4 m-4">
                <div class="card" style="width: 18rem; height: 32rem;">
                    <img class="card-img-top" src="@item.Image" alt="Image for product" style="height:50%;" />
                    <div class="card-body">
                        <h5 class="card-title">@item.MovieName</h5>
                        <p class="card-text">@item.MovieDescription</p>

                        <h6>Price: @item.TicketPrice</h6>
                    </div>

                    <div class="card-footer">
                        <a class="btn btn-info" asp-controller="Tickets" asp-action="AddTicketToCart" asp-route-id="@item.Id"> Add to Cart</a>
                        <a class="btn btn-secondary" asp-controller="Tickets" asp-action="Edit" asp-route-id="@item.Id"> Edit </a>
                    </div>
                </div>
            </div>

            if (i % 3 == 2)
            {
            @:</div>
        }
    }

</div>